.list-group {
  max-width: 70%;
  margin-top: 20px;
}

.list-group-item {
  padding: 15px 40px 15px 20px;
  font-size: 17px;
  line-height: 28px;
}

a {
  float: right;
  font-size: 20px;
  color: #d54674;
}
